<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<script>
	$(document).ready(function() {
		$('#assign').attr('disabled', true);
		var gridDiv = document.querySelector('#myGrid');
		new agGrid.Grid(gridDiv, gridOptions);

		agGrid.simpleHttpRequest({
			url : 'admin-assigncoupon-viewDetails',
		}).then(function(data) {
			var len = data.length;
			$('#totalReq').find('span').html(len);
			gridOptions.api.setRowData(data);
		})
		$('#myGrid').show();
		$('#new').show();
		$('#addData').hide();
		//$('#delete').hide();
		});

	/ -------------------search bar for mygrid------------------------ /

	function onQuickFilterChanged() {
		gridOptions.api
				.setQuickFilter(document.getElementById('quickFilter').value);
	}

	function cancelBar() {
		var id = document.getElementById("closeKey");
		id.style.display = "block";

		if ($('#quickFilter').val() == null || $('#quickFilter').val() == "") {
			id.style.display = "none";
		}
	}


	
/ ----------------ag grid for myGrid parent table----------- /

	const columnDefs1 = [
		{
			headerCheckboxSelection : true,
			headerCheckboxSelectionFilteredOnly : true,
			checkboxSelection : true,
			width : 10,
			sortable : false,
			filter : false,
			resizable : true

		},
			 {

				headerName : 'Patient Id',
				field : "patientId",
				width : 300,
			}, {
			
				headerName : 'First Name',
				field : "fName",
				width : 350,
				
				
			},{

				headerName : 'Last Name',
				field : "lName",
				width : 250,
				cellStyle : {
					textAlign : 'center'
				},
				hide:true
				
				
			},{

				headerName : 'Phone No',
				field : "phoneNo",
				width : 300,
				cellStyle : {
					textAlign : 'center'
				}
			},
			{

				headerName : 'Email Id',
				field : "mailId",
				width : 350,
				cellStyle : {
					textAlign : 'center'
				}
			},
			{

				headerName : 'DOB',
				field : "dob",
				width : 250,
				cellStyle : {
					textAlign : 'center'
				}
				
			},
			{

				headerName : 'Gender',
				field : "gender",
				width : 250,
				cellStyle : {
					textAlign : 'center'
				}
				
			}];

	const gridOptions = {
		columnDefs : columnDefs1,
		defaultColDef : {
			groupSelectsChildren : true,
			suppressRowClickSelection : true,
			suppressAggFuncInHeader : true,
			rowHeight:40,
			sortable : true,
			filter : true,
			resizable : true,
			width : 295,
			height : 10
		},
		onSelectionChanged : assignselect,
		rowSelection : 'single',
		suppressRowClickSelection : true,
		
	};

	var columnDefs2 = [
			{
				headerCheckboxSelection : true,
				headerCheckboxSelectionFilteredOnly : true,
				checkboxSelection : true,
				width : 10,
				sortable : false,
				filter : false,
				resizable : true

			},
			{
				headerName : "Coupon Id",
				field : "couponId",
				width : 150,
				cellRenderer : function(params) {
					return '<a id="" onclick=editCityDetails("'
							+ params.data.couponId
							+ '") href="javascript:void(0)">'
							+ params.data.couponId + '</a>';
				}
			}, {
				headerName : 'Coupon Name',
				field : "couponName",
				width : 250
			}, {
				headerName : 'Discount Price',
				field : "discountPrice",
				width : 250,
				hide:true
			},{
				headerName : 'Start Date',
				field : "fromdate",
				width : 250
			},{
				headerName : 'End Date',
				field : "todate",
				width : 250
			},{
				headerName : 'Percentage',
				field : "percentage",
				width : 250
			}];

	var gridOptions2 = {
		columnDefs : columnDefs2,
		defaultColDef : {
			sortable : true,
			filter : true,
			resizable : true,
			width : 300,
			height : 10
		},
		//onSelectionChanged : deleteDetailsfor,
		rowSelection : 'multiple',
		suppressRowClickSelection : true,

	};	
	
	function assignselect(){
		var selectedRows = gridOptions.api.getSelectedRows();
		var rowCount = 0;
		selectedRows.forEach(function(selectedRow, index) {
			rowCount = rowCount + 1;
		});

		if (rowCount > 0) {
			$('#assign').attr('disabled', false);
			
		} else {
			$('#assign').attr('disabled', true);
			
		}
	}
	
	
function assignCoupon(){
	$("#myModalCoupon").modal('show');
	$("#myGridLedger").empty();
	
		var gridDiv2 = document.querySelector('#myGridLedger');
		new agGrid.Grid(gridDiv2, gridOptions2);

		agGrid.simpleHttpRequest({
			url : "admin-coupon-viewDetails"
		}).then(function(data) {
			var len = data.length;
			$('#totalReq').find('span').html(len);
			gridOptions2.api.setRowData(data);
		});
		
		
		 var selectedRows1 = gridOptions.api.getSelectedRows();
		
		 var fname="";
		 for (var i = 0; i < selectedRows1.length; i++) {
			
			 fname = fname + '' +selectedRows1[i].fName;
		 }
		 $("#patientName").val(fname);
}

function save(){
	 var selectedRows1 = gridOptions.api.getSelectedRows();
		
	 var patientId="";
	 for (var i = 0; i < selectedRows1.length; i++) {
		
		 patientId = patientId + '' +selectedRows1[i].patientId;
	 }

	var selectedRowsCoupon = gridOptions2.api.getSelectedRows();
		console.log('selectedRowsCoupon', selectedRowsCoupon)
		$("#myModalCoupon").modal('hide');
		item1 = {};
		item1.patientId = patientId;
		item1.couponList = selectedRowsCoupon;
		console.log(item1)
	/* 	$.ajax({
			type : "POST",
			url : "admin-coupon-assign",
			dataType : "json",
			contentType : "application/json",
			data : JSON.stringify(item1),
			success : function(response) {
				
			 	if (response.message == "Success") {
$("#myModalCoupon").modal('hide');
					//window.reload();
					
					var gridDiv = document.querySelector('#myGrid');
					new agGrid.Grid(gridDiv, gridOptions);

					agGrid.simpleHttpRequest({
						url : 'admin-assigncoupon-viewDetails',
					}).then(function(data) {
						var len = data.length;
						$('#totalReq').find('span').html(len);
						gridOptions.api.setRowData(data);
					})
					$('#myGrid').show();
				} 
			},
			error : function(response) {
				console.log(response);
			}
		}) */

	}
</script>
</head>
<!-- /*************************************Body Part***********************************************/	 -->
<body>
	<div layout:fragment="content" class="maincontent">
						
							<div class="panel-body">
								<div class="row" id="main_content">
									<div class="col-md-12">
										<div class="row">
                                            <div class="col-md-4">
												<div class="font-design" id="totalReq">
													 Patient Listing (<span></span>)
												</div>
											</div>
											
											<div class="col-md-6">
							<button id="assign" onclick="assignCoupon()" class="btn1"> ASSIGN </button>
							
						</div>
							<!-- 				<div class="col-md-4">
												<div class="row margin_topbot" id="searchRowDiv">
								<div class="input-style row">
									<input type="text" placeholder="Search.." name="search"
										class="searchboxinput" onkeyup="cancelBar()"
										oninput="onQuickFilterChanged()" id="quickFilter">
									<div class="searchicon">
										<a href="javascript:void(0)"><span
											style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
											id="closeKey"
											onclick="gridOptions.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';"
											class="close_i"><i class="ti-close srchicon"></i></span></a><a
											href="javascript:void(0)"><i class="ti-search srchicon"></i></a>
									</div>
								</div>
							</div>
							</div> -->
							       	</div>
										</div>
										<div id="myGrid" style="width: 100%; height: 500px;"
											class="ag-theme-alpine"></div>
									</div>
									
									<div id="myModalCoupon" class="modal fade show"
				aria-modal="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header flex-column"></div>

						<div class="modal-footer justify-content-center"
							style="margin-top: -50px;"></div>

						<div class="row">

							<!-- Modal body -->
							<div class="modal-body">

								<div class="row">
									<div class="col-md-6">
										<div class="font-design" id="totalReqAssign">Assign Coupon</div>
									</div>
									
										<div class="col-md-6">
									<button id="add" class="btn1" onclick="save()">Save</button>
									</div>
								</div>
							 	<div class="row">
									<div class="col-md-6">
									<div class="form-group">
										<label>Patient Name</label> 
										<input type="text" id="patientName"
											placeholder="Enter Address" class="form-control">
									</div>
								</div>
								
								</div>
							
								<div id="myGridLedger" style="width: 100%; height: 200px;"
									class="ag-theme-alpine"></div>
							</div>

						</div>
					</div>

				</div>
			</div>
								</div>
								

						</div>
						
</body>
</html>