<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<style type="text/css">	
.edit {
    font-size: 22px;
    color: #210909;
    margin-bottom: 18px;
    font-weight: 100;
}	
</style>
<script>
	$(document).ready(function() {

		var gridDiv = document.querySelector('#myGrid');
		new agGrid.Grid(gridDiv, gridOptions);

		agGrid.simpleHttpRequest({
			url : 'admin-category-viewDetails',
		}).then(function(data) {
			var len = data.length;
			$('#totalReq').find('span').html(len);
			gridOptions.api.setRowData(data);
		})
		$('#myGrid').show();
		$('#new').show();
		$('#addData').hide();
		$('#delete').attr('disabled', true);
	});

	/ -------------------search bar for mygrid------------------------ /

	function onQuickFilterChanged() {
		gridOptions.api
				.setQuickFilter(document.getElementById('quickFilter').value);
	}

	function cancelBar() {
		var id = document.getElementById("closeKey");
		id.style.display = "block";

		if ($('#quickFilter').val() == null || $('#quickFilter').val() == "") {
			id.style.display = "none";
		}
	}

	//---------EDIT-------------
	function editCategoryDetails(id) {
		$("#addData").show();
		$("#myGrid").hide();
		$("#new").hide();
		$("#delete").hide();
		$("#searchRowDiv").hide();
		$("#totalReq").hide();
		$.ajax({
			type : "GET",
			url : "admin-category-editDetails?id=" + id,
			success : function(response) {
				if (response.message == "Success") {

					$("#categoryId").val(response.body.categoryId);
					$("#categoryTitle").val(response.body.categoryTitle);
					$("#status").val(response.body.status);
					$('#imgCategory').attr('src', '');
					if (response.body.imgCategory != null
							&& response.body.imgCategory != "") {
						$('#imgCategory')
								.attr('src', response.body.imgCategory);
					} else {
						$('#imgCategory')
								.attr('src', response.body.imgCategory);
					}
				} else
					("error" + console.message)
			}
		});

	}
	/ ----------------ag grid for myGrid parent table----------- /

	const columnDefs1 = [
			{
				headerCheckboxSelection : true,
				headerCheckboxSelectionFilteredOnly : true,
				checkboxSelection : true,
				width : 10,
				sortable : false,
				filter : false,
				resizable : true
			},
			{
				headerName : 'category Id ',
				field : "categoryId",
				cellRenderer : function(params) {
					return '<a id="" onclick=editCategoryDetails("'
							+ params.data.categoryId
							+ '") href="javascript:void(0)">'
							+ params.data.categoryId + '</a>';
				}
			},
			{

				headerName : 'Title',
				field : "categoryTitle",
				width : 400,
			},
			{

				headerName : 'Status',
				field : "status",
				width : 300,
				cellStyle : {
					textAlign : 'center'
				},
				cellRenderer : function(params) {
					if (params.data.status == "1") {
						return "IN-ACTIVE";
					} else {
						return "ACTIVE";
					}
				}

			},
			{
				headerName : 'Image',
				field : "imgCategory",
				width : 300,

				cellRenderer : function(params) {
					var dataimg = params.data.imgCategory;
					var div = "";
					div = div
							+ " "
							+ '<div class ="fa fa-image"   style="cursor:pointer" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"  style="cursor:pointer" onclick=editView("'
							+ dataimg + '")  > </div>';
					return div;
				}
			} ];

	const gridOptions = {
		columnDefs : columnDefs1,
		defaultColDef : {

			groupSelectsChildren : true,
			suppressRowClickSelection : true,
			suppressAggFuncInHeader : true,
			rowHeight : 40,
			sortable : true,
			filter : true,
			resizable : true,
			width : 295,
			height : 10
		},
		onSelectionChanged : deleteDetailsfor,
		rowSelection : 'single',
		getRowNodeId : function(data) {
			return data.categoryId;
		},
	};
	function deleteDetailsfor() {

		var selectedRows = gridOptions.api.getSelectedRows();
		var rowCount = 0;
		selectedRows.forEach(function(selectedRow, index) {
			rowCount = rowCount + 1;
		});

		if (rowCount > 0) {
			$('#delete').attr('disabled', false);
			$('#new').attr('disabled', true);
		} else {
			$('#delete').attr('disabled', true);
			$('#new').attr('disabled', false);
		}

	}
	/ ---------------------------function for new button------------------ /
	function add() {
		$("#categoryId").val('');
		$("#categoryTitle").val('');
		$("#status").val('');
		$("#imgCategory").val('');
		$('#new').hide();
		$('#delete').hide();
		$('#addData').show();
		$('#myGrid').hide();
		$('#searchRowDiv').hide();
		$('#totalReq').hide();

	}
	/ -------------function for cancel button-------------- /
	function Cancel() {
		$('#totalReq').show();
		$('#searchRowDiv').show();
		$('#new').show();
		$('#delete').show();
		$('#addData').hide();
		$('#myGrid').show();
		$("#categoryId").val('');
		$("#categoryTitle").val('');
		$("#status").val('');
		$("#imgCategory").val('');
	}

	/*************************************Save Data***********************************************/

	function save() {
		var obj = {};
		var validation = true;
		obj.categoryId = $("#categoryId").val();
		obj.categoryTitle = $("#categoryTitle").val();
		obj.status = $("#status").val();
		obj.imgCategory = $('#fileUpload').val();
		/* if (data.imgCategory == null || data.imgCategory == "") {
			validation = validationUpdated("Imgage Category  Required",
					"imgCategory");
		} */

		console.log(obj)
		if (validation) {

			$.ajax({
				type : "POST",
				url : "admin-category-addDetails",
				dataType : "json",
				contentType : "application/json",
				data : JSON.stringify(obj),
				success : function(response) {
					if (response.message == "Success") {
						$('#totalReq').show();
						$('#searchRowDiv').show();
						$('#delete').attr('disabled', true);
						$('#new').attr('disabled', false);
						
						agGrid.simpleHttpRequest({
							url : 'admin-category-viewDetails',
						}).then(function(data) {
							var len = data.length;
							$('#totalReq').find('span').html(len);
							gridOptions.api.setRowData(data);
						})
						Cancel();
					}
				},
				error : function(response) {
					console.log(response);
				}
			})
		}

	}

	function editView(id) {

		window.open("/document/images/" + id, '_blank');
	}

	function saveFile() {

		var uFile = $('#fileUpload')[0].files[0];
		var fileName = $('#fileUpload').val();
		var iURL = URL.createObjectURL(uFile);
		var LightImg = "<div class='uploadicon position-l'><a class='example-image-link' href='" + iURL + "' title='" + fileName + "' target='_balnk'><i class=''></i></a></div>";
		$("#uploadedBillDocDiv_").html(LightImg);
		var lastIndex = fileName.lastIndexOf("\\");
		if (lastIndex >= 0) {
			fileName = fileName.substring(lastIndex + 1);
		}
		var iURL = URL.createObjectURL(uFile);

		$('#imgCategory').attr('src', '');
		$('#imgCategory').attr('src', iURL);

		var fileData = new FormData();
		fileData.append('file', uFile);
		fileData.append('path', 'none');

		$.ajax({
			type : "POST",
			url : "admin-category-image-upload-file",
			enctype : "multipart/form-data",
			contentType : false,
			data : fileData,
			processData : false,
			cache : false,
			success : function(response) {

			},
			error : function(e) {

			}
		});
	}

	//Delete 
	function deleteDetails() {
		var selectedRows = gridOptions.api.getSelectedRows();
		var id = selectedRows[0].categoryId;

		$.ajax({
			type : "POST",
			url : "admin-category-delete?id=" + id,
			success : function(response) {
				if (response.message == "Success") {
					agGrid.simpleHttpRequest({
						url : 'admin-category-viewDetails',
					}).then(function(data) {
						var len = data.length;
						$('#totalReq').find('span').html(len);
						gridOptions.api.setRowData(data);
					})

					Cancel();
				}
			},
			error : function(data) {
				console.log(data);
			}
		})
	}
</script>
</head>
<!-- /*************************************Body Part***********************************************/	 -->
<body>
	<div layout:fragment="content" class="maincontent">
	
		<div class="panel-body">
			<div class="row" id="main_content">
				
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-4">
							<div class="font-design" id="totalReq">
								CATEGORY DETAILS (<span></span>)
							</div>
						</div>
						<div class="col-md-4">
							<div class="row margin_topbot" id="searchRowDiv">
								<div class="input-style row">
									<input type="text" placeholder="Search.." name="search"
										class="searchboxinput" onkeyup="cancelBar()"
										oninput="onQuickFilterChanged()" id="quickFilter">
									<div class="searchicon">
										<a href="javascript:void(0)"><span
											style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
											id="closeKey"
											onclick="gridOptions.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';"
											class="close_i"><i class="ti-close srchicon"></i></span></a><a
											href="javascript:void(0)"><i class="ti-search srchicon"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<button id="new" onclick="add()" class="btn1">ADD
								CATEGORY</button>
								<button id="delete" onclick="deleteDetails()" class="btn4">DELETE</button>
						</div>
						
					</div>
				</div>
				<div id="myGrid" style="width: 100%; height: 500px;"
					class="ag-theme-alpine"></div>
			</div>
		</div>
		<div class="row" id="addData">
			<div class="col-md-4">
				<div class="col-md-10 edit">Add Category Details</div>
			</div>
			<div class="col-md-12" id="btnDiv">
				<button id="save" onclick="save()" class="btn1">Save</button>
				<button class="btn4" id="Cancel" onclick="Cancel()">Cancel</button>
			</div>
			<input type="hidden" id="slNo"> <input type="hidden"
				id="categoryId">


			<div class="col-md-6">
				<div class="form-group">
					<label>Title</label> <input type="text" class="form-control"
						id="categoryTitle" autocomplete="off"
						placeholder="Category Title.....">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Status</label>
					<div class="select">
						<select id="status">
							<option value="">--Select--</option>
							<option value="0">Active</option>
							<option value="1">In-Active</option>
						</select>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="user-dtlhd ">Image Upload</div>
				<table id="docTbl">
					<tbody id="doctbodyData">
						<td><div class="form-group">
								<img th:src="${profile}" id="imgCategory"
									style="height: 50px; weight: 50px"></img>
							</div></td>

						<td>
							<div class="control-group position-r">
								<label class="custom-file-upload" for="fileUpload"
									id="uploadFor_0"> <a class="btn btn-primary"
									style="color: #FFF !important;"> <i id="clickImg_0"
										class="ti ti-plus"></i> Add
								</a>
									<div id="uploadedBillDiv" align="center"
										class="uploadedBillCls">
										<div class=""></div>
									</div>
								</label>
								<div class="controls">

									<input type="file" id="fileUpload" name="userImage"
										accept="image/*" onchange="saveFile()"
										onblur="removeValid(event)">

								</div>
							</div> <input type="hidden" id="uploadHidden_0" class="uploadHidCls">
							<div id="uploadedBillDiv_0" align="center"
								class="uploadedBillCls"></div>
							<div id="imageName_0" class="imageName"></div>
							<div id="dltImage_0"></div>
						</td>

					</tbody>
				</table>
			</div>

		</div>

	</div>
	</div>
</body>
</html>