<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>

<!-- <link rel="stylesheet" href="../assets/css/extend/style-extend.css"> -->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
	//Document Ready For Page load

	$(document).ready(function() {
		$("#addTestList").hide();
		$("#add").show();
		$("#tab11").hide();
		$("#edit").hide();
		$("#deletes").show();
		$("#add").show();
		
		
		
	});

	$(document).ready(function() {
		$("#showTab").show();
		 var gridDiv2 = document.querySelector('#myGrid');
			new agGrid.Grid(gridDiv2, gridOptions2);

			agGrid.simpleHttpRequest({
				url : "homecare-homecarepackage-view"
			}).then(function(data) {
				var len = data.length;
				$('#totalCandidate').find('span').html(len);
				gridOptions2.api.setRowData(data);
			});
			
			

	});
	
	
	//---------EDIT-------------
	function editServiceDetails(id) {
		$("#addData").show();
		$("#myGrid").hide();
		$("#new").hide();
		$("#delete").hide();
		$("#searchRowDiv").hide();
		$("#totalReq").hide();
		$.ajax({
			type : "GET",
			url : "homecare-homecarepackage-editDetails?id=" + id,
			success : function(response) {
				if (response.message == "Success") {
					openNav();
					$("#myGrid").show();
					$("#srId").val(response.body.srId);
					$("#serviceId").val(response.body.serviceId);
					$("#title").val(response.body.title);
					$("#serviceName").val(response.body.serviceName);
					
				} else
					("error" + console.message)
			}
		});

	}
	
	/ ----------------ag grid for myGrid parent table----------- /	
	
	var columnDefs2 = [ {
		headerCheckboxSelection : true,
		headerCheckboxSelectionFilteredOnly : true,
		checkboxSelection : true,
		width : 10,
		sortable : false,
		filter : false,
		resizable : true

	},{
		headerName : 'Service Id ',
		field : "srId",
		cellRenderer : function(params) {
			return '<a id="" onclick=editServiceDetails("'
					+ params.data.srId
					+ '") href="javascript:void(0)">'
					+ params.data.srId + '</a>';
		}
	}, {
		headerName : "Package",
		field : "serviceId",
		width:420,
	}, {
		headerName : 'Services',
		field : "title",
		width:420
	} ,
	, {
		headerName : 'Description',
		field : "serviceName",
		width:420
	},{
		headerName : 'Status',
		field : "status",
		cellStyle : {
			textAlign : 'center'
		},
		cellRenderer : function(params) {
			if (params.data.status == "1") {
				return "IN-ACTIVE";
			} else {
				return "ACTIVE";
			}
		}
	}];

	var gridOptions2 = {
		columnDefs : columnDefs2,
		defaultColDef : {
			sortable : true,
			filter : true,
			resizable : true,
			width : 300,
			height : 10
		},
		rowSelection : 'multiple',
		suppressRowClickSelection : true,
		//onSelectionChanged : saveTestManage1

	};

function editTestname(testId){

	
}

function cancelEmp(){
	$("#managetestlist").show();
	$("#addTestList").hide();
}


/ ---------------------------function for new button------------------ /
function add() {
	$("#serviceId").val('');
	$("#title").val('');
	$("#serviceName").val('');
	$("#description").val('');
	$('#new').hide();
	$('#delete').hide();
	$('#addData').show();
	$('#myGrid').hide();
	$('#searchRowDiv').hide();
	$('#totalReq').hide();

}
/ -------------function for cancel button-------------- /
function Cancel() {
	$('#totalReq').show();
	$('#searchRowDiv').show();
	$('#new').show();
	$('#delete').show();
	$('#addData').hide();
	$('#myGrid').show();
	$("#serviceId").val('');
	$("#title").val('');
	$("#serviceName").val('');
	$("#description").val('');
}

	
	function saveTest() {
		var item1 = {};
		var validation =true;
				item1.srId = $("#srId").val();
				//alert(item1.srId)
				item1.title = $("#title").val();
				item1.serviceName = $("#serviceName").val();
				item1.description = $("#description").val();
				console.log(item1)
				
		
		if(validation){
		$.ajax({
			type : "POST",
			url : "homecare-homecarepackage-addDetails",
			dataType : "json",
			contentType : "application/json",
			data : JSON.stringify(item1),
			success : function(response) {
				if (response.message == "Success") {
					console.log(response)
					closeNav();
					$('#new').show();
					$('#delete').show();
					agGrid.simpleHttpRequest({
						url : "homecare-homecarepackage-view"
					}).then(function(data) {
						var len = data.length;
						$('#totalCandidate').find('span').html(len);
						gridOptions2.api.setRowData(data);
					});
				}
			},
			error : function(response) {
				console.log(response);
			}
		})
		}
	}

	function openNav() {
		$('#add').attr('disabled', true);
		$('#title').val("");
		$('#serviceName').val("");
		$('#description').val("");
		document.getElementById("mySidenav").style.cssText = "width: 321px; position: absolute; right:-5.4px; overflow: hidden; height:auto; top:7px;";

		document.getElementById("main_content").style.width = "75%";
	}

	function closeNav() {
		$('#add').attr('disabled', false);
		document.getElementById("mySidenav").style.width = "0";
		document.getElementById("main_content").style.width = "100%";
	}
	
	
	//Delete 
	function deleteDetails() {
		alert("HII");
		var selectedRows = gridOptions2.api.getSelectedRows();
		var id = selectedRows[0].srId;

		$.ajax({
			type : "POST",
			url : "homecare-homecarepackage-delete?id=" + id,
			success : function(response) {
				if (response.message == "Success") {
					agGrid.simpleHttpRequest({
						url : 'homecare-homecarepackage-view',
					}).then(function(data) {
						var len = data.length;
						$('#totalReq').find('span').html(len);
						gridOptions2.api.setRowData(data);
					})

				}
			},
			error : function(data) {
				console.log(data);
			}
		})
	}
	

	function getServiceNameList() {
		var search = $("#serviceName").val();
		if(search == ""){
			$("#suggesstion-box1_").hide();
		}
		if (search) {
			$
					.ajax({
						type : "POST",
						url : "homecare-homecareservice-autosearch-serviceName",
						dataType : 'json',
						contentType : 'application/json',
						data : search,
						success : function(response) {
							if (response.message == "success") {
								if (response.body.length != 0) {
									$("#search").css("background", "#FFF");
									var content = '<ul id="autocomplete-list1" style="margin-left:-40px; font-weight:100; font-size:14px; color:#ccc;">';
									for (var i = 0; i < response.body.length; i++) {
										content += '<li class="autocompletedata cp" onClick="selectAutocompleteValue1(\''
												+ response.body[i].serviceId
												+ '\',\''
												+ response.body[i].serviceName
												+ '\',\''
												+ response.body[i].serviceId
												+ '\')">'
												+ response.body[i].serviceName
												+ '</li>';
									}
									content += '</ul>';
									$("#suggesstion-box1_").show();
									$("#suggesstion-box1_").html(content);

								} else {
									$("#search").css("background", "#FFF");
									var content = '<div id="autocomplete-list1">';
									content += '<div onClick="selectAutocompleteValue()">'
											+ "No Data Found" + '</div>';
									content += '</div>';
									$("#suggesstion-box1_").show();
									$("#suggesstion-box1_").html(content);
								}
							}
						},
						error : function(data) {
							console.log(data);
						}
					})
		}

	}
	function selectAutocompleteValue1(serviceId, serviceName) {

		if (serviceId) {
			$("#serviceId").val(serviceId);
			$("#serviceName").val(serviceName);
			$("#search").val(serviceName);
			$("#search").attr('data-procat', serviceId);
			$("#suggesstion-box1_").hide();

		} else {
			$("#serviceId").val("");

			$("#serviceName").val("");

			$("#search").val("");
			$("#search").attr('data-procat', "");
			$("#suggesstion-box1_").hide();

		}
	}
	function selectAutocompleteValue() {

		$("#noticeIdMstr").val("");

		$("#noticeType").val("");

		$("#search").val("");
		$("#search").attr('data-procat', "");
		$("#suggesstion-box1_").hide();

	}
	
	
	
</script>


</head>
<body>
	<div layout:fragment="content" class="maincontent">
		<div id="managetestlist">
						<div id ="main_content">		
									<div class="col-md-12">
					<div class="row">
						<div class="col-md-6">
							<div class="font-design" id="totalReq">
								Services Package Listing
							</div>
						</div>
						<div class="col-md-6">
							<button id="new" onclick="openNav()" class="btn1">NEW</button>
							<button id="delete" onclick="deleteDetails()" class="btn4">DELETE</button>
						</div>
					</div>

					<!-- <div id="myGridassinlist" style="width: 100%; height: 500px;"
											class="ag-theme-alpine"></div>
									</div> -->
									
						<div id="myGrid" style="width: 100%; height: 300px;"
					class="ag-theme-alpine"></div>			
								
							</div>
							</div>
		<input type="hidden" id="serviceId"></input>
			<div id="mySidenav" class="sidenav">
				<div class="slidebox">
					<div class="row" id="addData">
						<div class="col-md-9">
							<div class="edit">Add Service Package</div>
						</div>
						<div class="col-md-3">
							<div class="arrow">
								<a href="javascript:void(0)" class="closebtn"
									onclick="closeNav()"><i class="ti-arrow-right"></i></a>
							</div>
						</div>

						<div class="chartbtnsec1">
							<div align="right">
								<button class="btn4" onclick="closeNav()">CANCEL</button>
								<button class="btn1" onclick="saveTest()">SAVE</button>

							</div>
						</div>


						<div class="col-md-12">
							<div class="form-group">
								<label>Title</label> <input type="text"
									class="form-control transparenttxtbox" placeholder="Enter Name"
									id="title">
									<input type="hidden" id="srId"></input>
									<input type ="hidden" id ="title">
							</div>
						</div>
					
						
						<div class="col-md-12">
							<div class="form-group">
								<label>Service Name</label> <input type="text" id="serviceName"
									autocomplete="off" class="form-control"
									onkeyup='getServiceNameList()'>
								<div id="suggesstion-box1_" class="sugg-cls"></div>

							</div>
						</div>
								
								<div class="col-md-12">
							   <div class="form-group">
								<label>Description</label> <input type="text"
									class="form-control transparenttxtbox" placeholder="Enter Name"
									id="description">
									<input type ="hidden" id ="description">
							    </div>
						       </div>
				                  
										
										

				</div>
			    </div>
			
						
							
		       <div class="col-md-12 padding_5" id="addTestList">
			   <div class="row" id="showTab">
				<div class="col-md-5 buttonsec btn-hs"></div>
				<div class="col-md-7 buttonsec btn-hs">
					<button id="add" class="btn1" onclick="addTestNameDetails()">SAVE</button>
					<button id="deletes" class="btn4" onclick="cancelEmp()">CANCEL</button>
					<input type="hidden" id="pckgId">
				</div>
			    </div>
		</div>
	    </div>	
</div>
</div>
</body>
</html>