<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<script>
	$(document).ready(function() {
		
		var gridDiv = document.querySelector('#myGrid');
		new agGrid.Grid(gridDiv, gridOptions);

		agGrid.simpleHttpRequest({
			url : 'admin-patientBooking-viewDetails',
		}).then(function(data) {
			var len = data.length;
			$('#totalReq').find('span').html(len);
			gridOptions.api.setRowData(data);
		})
		$('#myGrid').show();
		$('#new').show();
		$('#addData').hide();
		//$('#delete').hide();
		});

	/ -------------------search bar for mygrid------------------------ /

	function onQuickFilterChanged() {
		gridOptions.api
				.setQuickFilter(document.getElementById('quickFilter').value);
	}

	function cancelBar() {
		var id = document.getElementById("closeKey");
		id.style.display = "block";

		if ($('#quickFilter').val() == null || $('#quickFilter').val() == "") {
			id.style.display = "none";
		}
	}


	
/ ----------------ag grid for myGrid parent table----------- /

	const columnDefs1 = [
			 {
				headerCheckboxSelection : true,
				headerCheckboxSelectionFilteredOnly : true,
				checkboxSelection : true,
				width : 10,
				sortable : false,
				filter : false,
				resizable : true
			},
			 {

				headerName : 'Patient',
				field : "patName",
				width : 300,
			}, {
			
				headerName : 'Doctor',
				field : "docName",
				width : 250,
				
				
			},{

				headerName : 'Booking Date',
				field : "bookDate",
				width : 250,
				cellStyle : {
					textAlign : 'center'
				}
				
				
			},{

				headerName : 'Booking Type',
				field : "bookType",
				width : 200,
				cellStyle : {
					textAlign : 'center'
				}
			},
			{

				headerName : 'Time Slot',
				field : "timeSlot",
				width : 250,
				cellStyle : {
					textAlign : 'center'
				}
			},
			{

				headerName : 'Speciality',
				field : "speciality",
				width : 250,
				cellStyle : {
					textAlign : 'center'
				}
				
			},
			{

				headerName : 'Status',
				field : "status",
				width : 250,
				cellStyle : {
					textAlign : 'center'
				}
				
			}];

	const gridOptions = {
		columnDefs : columnDefs1,
		defaultColDef : {
			groupSelectsChildren : true,
			suppressRowClickSelection : true,
			suppressAggFuncInHeader : true,
			rowHeight:40,
			sortable : true,
			filter : true,
			resizable : true,
			width : 295,
			height : 10
		},
		rowSelection : 'single',
		getRowNodeId: function (data) {
		    return data.bannerId;
		  },
	};
	

</script>
</head>
<!-- /*************************************Body Part***********************************************/	 -->
<body>
	<div layout:fragment="content" class="maincontent">
						
							<div class="panel-body">
								<div class="row" id="main_content">
									<div class="col-md-12">
										<div class="row">
                                            <div class="col-md-4">
												<div class="font-design" id="totalReq">
													 Patient Listing (<span></span>)
												</div>
											</div>
							<!-- 				<div class="col-md-4">
												<div class="row margin_topbot" id="searchRowDiv">
								<div class="input-style row">
									<input type="text" placeholder="Search.." name="search"
										class="searchboxinput" onkeyup="cancelBar()"
										oninput="onQuickFilterChanged()" id="quickFilter">
									<div class="searchicon">
										<a href="javascript:void(0)"><span
											style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
											id="closeKey"
											onclick="gridOptions.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';"
											class="close_i"><i class="ti-close srchicon"></i></span></a><a
											href="javascript:void(0)"><i class="ti-search srchicon"></i></a>
									</div>
								</div>
							</div>
							</div> -->
							       	</div>
										</div>
										<div id="myGrid" style="width: 100%; height: 500px;"
											class="ag-theme-alpine"></div>
									</div>
								</div>
								

						</div>
						</div>
</body>
</html>