<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>ehealthSystem</title>
<!-- Styles -->
<!-- font css -->
<link href="../assets/css/lib/font-awesome.min.css" rel="stylesheet">
<link href="../assets/css/extend/themify-icons.css" rel="stylesheet">


<!-- for sidebar css -->
<link href="../assets/css/lib/menubar/sidebar.css" rel="stylesheet">
<!-- bootstrap css -->
<link href="../assets/css/lib/bootstrap.min.css" rel="stylesheet">

<!-- bootstrap Datepicker css -->
<link rel="stylesheet" href="../assets/css/bootstrap-datepicker.css">
<link rel="stylesheet"
	href="../assets/css/jquery.datetimepicker.min.css">
<!-- bootstrap datatable  -->
<link href="../datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">
<link href="../assets/css/lightbox.min.css" rel="stylesheet">

<!-- <script src="../assets/js/lib/jquery-3.4.1.min.js"></script> -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../assets/js/lib/bootstrap.min.js"></script>

<script src="../assets/highchart/high.js"></script>


<!--  for extend  style css -->
<link rel="stylesheet" href="../assets/css/extend/style-extend.css">

<!-- Validator css Starts -->

<link rel="stylesheet" href="../assets/css/sweetalert2.min.css">
<!-- Validator css End -->
<!-- Validator Js starts -->
<script src="../assets/js/validate.js"></script>
<script src="../assets/js/jquery.datetimepicker.js"></script>

<script src="../assets/js/sweetalert2.all.min.js"></script>
<script src="../assets/js/lightbox.min.js"></script>
<!-- Validator Js Ends -->

<script src="../assets/highchart/highcharts.js"></script>
<script src="../assets/highchart/series-label.js"></script>
<script src="../assets/highchart/exporting.js"></script>
<script src="../assets/highchart/export-data.js"></script>
<script src="../assets/highchart/high.js"></script>
<!-- for ag grid -->

<script src="../assets/js/extend/grid.js"></script>
<script src="../assets/js/extend/tree-table.js"></script>
<script src="../assets/js/extend/new-extend.js"></script>
<script src="../assets/js/extend/date-format.js"></script>

<!-- for Slimselect -->
<script src="../assets/js/extend/slimselect.min.js"></script>
<link rel="stylesheet" href="../assets/css/extend/slimselect.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
	rel="stylesheet">

<!-- for Custom Multi Select -->
<script src="../assets/js/customMultiselect.js"></script>
<link rel="stylesheet" href="../assets/css/customMultiselect.css">

</head>
<body>
           <h3 style= "margin-top: 111px; text-align: center;">Thank You!!</h3>
           <h3 style= "margin-top: 5px; text-align: center;"><img src="../assets/eHealth/images/thankyoutick.gif"></h3>
	
	

</body>
</html>