<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/ehslayout"
	layout:decorate="~{ehslayout/ehs-master}">

<head>

</head>

<body>
	<div layout:fragment="content">

		<main id="main">
		<section id="appointment" class="appointment section-bg">
			<div class="container">
				<div class="section-title">
					<h2>About Us</h2>

				</div>

				<div class="row">
					<div class="col-md-6">
						<h2>eHealthSystem Technologies</h2>

						<p>
							Together, we’re on a path to wellness for body, mind, and spirit.
							Now anyone can take charge of their health and transform their
							life using our easy-to-use, yet powerful, healthcare technologies
							& tools.<br> <br> The eHealthSystem supports WHO
							eHealth Strategy (WHA 58:28) eHealth stressing that eHealth is
							the cost-effective and secure use of information and
							communications technologies in support of health and
							health-related services.<br> <br> eHealthSystem works
							as a LiveWire of Connectivity connecting different healthcare
							stakeholders that include clinics, pharmacies, blood banks,
							hospitals, ambulances, organ donors, laboratories and patients on
							a single platform.<br> <br> We are a digital healthcare
							solutions provider. We dedicate ourselves to improving the
							existing Electronic Health Record technology further, by
							providing users the power to carry their health records globally
							in a portable, user-friendly and secure manner.<br> <br>


						</p>

					</div>
					<div class="col-md-6">
						<img src="../index-assets/img/banner1.png" alt=""
							class="img-fluid">
					</div>

					<div class="col-md-6">
						<img src="../index-assets/img/banner2.png" alt=""
							class="img-fluid">
					</div>
					<div class="col-md-6">
						eHealthSystem is driven by visionary leaders and a passionate team
						of co-dreamers whose only aim is “To foster wellness for Body,
						Mind and Spirit” by way of offering innovative technology in
						healthcare delivery, beyond medicine, which is uniquely tailored,
						pragmatic, holistic and enduring. In short, changing the way how
						healthcare is managed across the world.<br> <br> In
						order to achieve this, we’ve developed a Unique Cloud-based
						‘eHealthSystem’ with an objective to create a Secure Healthcare
						Ecosystem that enables Global Interoperability for Unified
						Population Health Management and Delivery. Our “eHealthSystem” is
						Internationally Patented and complies with international standards
						such as HIPAA, HL7 and HITECH Acts.<br> <br>
						eHealthSystem has a dedicated team of internationally acclaimed
						scientists, researchers, clinicians and doctors through its global
						collaborations. eHealthSystem’s rainbow of services includes Stem
						Cell Research, Innovative Research Center, Regenerative Medicine
						for Diabetes, Bone Marrow Registry and Repository, Cancer Research
						Center, Lifestyle Solution Center, Organ Transplant Center, Cord
						Blood Banking, Global Patient Registry, and Hospitals.
					</div>
				</div>


			</div>
		</section>

		<!-- ======= Why Us Section ======= --> </main>
		<!-- End #main -->
	</div>

</body>

</html>