<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/ehslayout"
	layout:decorate="~{ehslayout/ehs-master}">

<head>

</head>

<body>
	<div layout:fragment="content">

		<main id="main">

		<section id="appointment" class="appointment section-bg">
			<div class="container">
				<div class="section-title">
					<h2>Advanced Stem Cell R&D Center</h2>
					<h6>Proposing World-class Stem Cell R&D and Data Analytics
						Centre in Odisha</h6>

				</div>

				<div class="row">
					<div class="col-md-6">
						<h2>Stem Cell Therapies</h2>

						<ul class="tablist">
							<li><i class="bx bx-chevron-right-circle"></i> Cancer</li>
							<li><i class="bx bx-chevron-right-circle"></i> Diabetes</li>
							<li><i class="bx bx-chevron-right-circle"></i> Blood
								Diseases</li>
							<li><i class="bx bx-chevron-right-circle"></i> Immune
								Disorders</li>
							<li><i class="bx bx-chevron-right-circle"></i> Metabolic
								Disorders and other diseases</li>
							<li><i class="bx bx-chevron-right-circle"></i> Bone Marrow
								Registry</li>
							<li><i class="bx bx-chevron-right-circle"></i> Repository
								Lifestyle Solutions</li>

						</ul>
						<div>
							We must strengthen comprehensive data systems, collaborate with
							other sectors, and apply innovative digital technologies to
							collect, analyse and use data to make informed decisions and
							deliver impact.<br> <br> R&D Center in 100 Acre under
							PPP Model (Govt Will provide Land and Construction)
						</div>
					</div>
					<div class="col-md-6">
						<img src="../index-assets/img/stem-cell.png" alt=""
							class="img-fluid">
					</div>
				</div>
			</div>
		</section>


		<!-- ======= Why Us Section ======= --> </main>
		<!-- End #main -->
	</div>

</body>

</html>