<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/ehslayout"
	layout:decorate="~{ehslayout/ehs-master}">

<head>

</head>

<body>
	<div layout:fragment="content">
		<main id="main">

		<section id="appointment" class="appointment section-bg">
			<div class="container">
				<div class="section-title">
					<h2>COVID-19</h2>
					<h6>Vaccination/ Quarantine Tracker with Realtime Analytics</h6>
				</div>

				<div class="row">
					<div class="col-md-6">
						<img src="../index-assets/img/app.jpg" class="img-fluid" alt="">
					</div>
					<div class="col-md-6 faqsec">
						<div class="icon-box" style="margin-bottom: 40px;">
							<div class="icon">
								<img src="../index-assets/img/app-icon1.png">
							</div>
							<h4 class="title">
								<a href="">Register / Login with Existing App</a>
							</h4>
							<p class="description">New Resident can register and already
								registered Residents can login</p>
						</div>

						<div class="icon-box" style="margin-bottom: 40px;">
							<div class="icon">
								<img src="../index-assets/img/app-icon2.png">
							</div>
							<h4 class="title">
								<a href="">Enrol for Appointment</a>
							</h4>
							<p class="description">Vaccine dosage and appointment details
								shared with Government Officials</p>
						</div>

						<div class="icon-box" style="margin-bottom: 40px;">
							<div class="icon">
								<img src="../index-assets/img/app-icon3.png">
							</div>
							<h4 class="title">
								<a href="">Auto Confirmation and Reminder</a>
							</h4>
							<p class="description">Reminder for 1st and 2nd Vaccine</p>
						</div>

						<div class="icon-box">
							<div class="icon">
								<img src="../index-assets/img/app-icon4.png">
							</div>
							<h4 class="title">
								<a href="">Centre Visit as per Appointment</a>
							</h4>
							<p class="description">Locate nearby Vaccine Empanelled
								Hospitals for Vaccination and be present at the designated
								Centre</p>
						</div>

						<div class="icon-box" style="margin-bottom: 40px;">
							<div class="icon">
								<img src="../index-assets/img/app-icon5.png">
							</div>
							<h4 class="title">
								<a href="">ON Call Support from Government Dept.</a>
							</h4>
							<p class="description">Support Center Call through App</p>
						</div>

						<div class="icon-box">
							<div class="icon">
								<img src="../index-assets/img/app-icon6.png">
							</div>
							<h4 class="title">
								<a href="">Vaccination Certificate</a>
							</h4>
							<p class="description">Digital Vaccination Certificate will
								be updated automatically in the System.</p>
						</div>

					</div>

				</div>



			</div>
		</section>
		<!-- ======= Why Us Section ======= --> </main>
		<!-- End #main -->
	</div>

</body>

</html>