<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/ehslayout"
	layout:decorate="~{ehslayout/ehs-master}">

<head>

</head>
<body>
	<div layout:fragment="content">

		<main id="main">

		<section id="appointment" class="appointment section-bg">
			<div class="container">
				<div class="section-title">
					<h2>Dashboard and Health Analytics</h2>

				</div>

				<div class="row">
					<div class="col-md-6">
						<h2>Page under construction.</h2>

					</div>
					<div class="col-md-6">
						<img src="assets/img/dha.png" alt="" class="img-fluid">
					</div>
				</div>
			</div>
		</section>
		<!-- ======= Why Us Section ======= --> </main>
		<!-- End #main -->
	</div>

</body>

</html>