<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/ehslayout"
	layout:decorate="~{ehslayout/ehs-master}">

<head>

</head>

<body>
	<div layout:fragment="content">
		<main id="main">

		<section id="appointment" class="appointment section-bg">
			<div class="container">
				<div class="section-title">
					<h2>Health Data Management Solutions</h2>

				</div>

				<div class="row">
					<div class="col-md-6">
						<h2>Data Security Approach and Practices</h2>

						<ul class="tablist">
							<li><i class="bx bx-chevron-right-circle"></i> HIPAA
								Guidelines</li>
							<li><i class="bx bx-chevron-right-circle"></i> PCI DSS
								Guidelines</li>
							<li><i class="bx bx-chevron-right-circle"></i> Standard Data
								Security Practices</li>
							<li><i class="bx bx-chevron-right-circle"></i> Encryption of
								Data with logs and audit trails</li>
							<li><i class="bx bx-chevron-right-circle"></i> 24x7
								Monitoring by a team of seasoned security professionals</li>
							<li><i class="bx bx-chevron-right-circle"></i> Provisioning
								Service Product Components with a cluster of Data Center grade
								Firewalls, IDSes and IPSes</li>
							<li><i class="bx bx-chevron-right-circle"></i> Blockchain
								Technology Security</li>
							<li><i class="bx bx-chevron-right-circle"></i> Additional
								related Location Specific Security measures incorporated</li>

						</ul>

					</div>
					<div class="col-md-6">
						<img src="../index-assets/img/hdms.png" alt="" class="img-fluid">
					</div>
				</div>
			</div>
		</section>
		<!-- ======= Why Us Section ======= --> </main>
		<!-- End #main -->
	</div>

</body>

</html>