<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/ehslayout"
	layout:decorate="~{ehslayout/ehs-master}">

<head>

</head>

<body>
	<div layout:fragment="content">

		<main id="main"> <!-- ======= Why Us Section ======= -->
		<section id="appointment" class="appointment section-bg">
			<div class="container">
				<div class="section-title">
					<h2>Healthcare Service Providers, Government & Residents on
						One Platform</h2>

				</div>

				<div class="row">
					<div class="col-md-6">
						<h2>Preparing for Third Wave</h2>

						<ul class="tablist">

							<li><i class="bx bx-chevron-right-circle"></i> We provide
								Frontline Defense for existing Healthcare Infrastructure</li>
							<li><i class="bx bx-chevron-right-circle"></i> Keeps
								citizens from overwhelming the Hospitals and reduce chances of
								spreading infection through the following</li>
							<li><i class="bx bx-chevron-right-circle"></i> Doctors
								available through e-Video Clinic</li>
							<li><i class="bx bx-chevron-right-circle"></i> Conduct
								Health Tests including Digital X-rays (When suggested by
								Doctors)</li>
							<li><i class="bx bx-chevron-right-circle"></i> Doctor
								counselling and guidance for the mild and medium infectious
								patients</li>
							<li><i class="bx bx-chevron-right-circle"></i> Can perform
								door-to-door COVID-19 RT-PCR tests and Vaccine Shots (These are
								super spreader events)</li>
							<li><i class="bx bx-chevron-right-circle"></i> COVID
								Dashboard for Live Overview of Quarantine Breach/ Crowd Alerts/
								Listed Patient Status among other indicators</li>
							<li><i class="bx bx-chevron-right-circle"></i> Assure
								connectivity with healthcare services during medical emergencies</li>

						</ul>

					</div>
					<div class="col-md-6">
						<img src="assets/img/service-provider.png" alt=""
							class="img-fluid">
					</div>
				</div>


				<div class="row">

					<div class="col-md-6">
						<img src="assets/img/evideo.png" alt="" class="img-fluid">
					</div>
					<div class="col-md-6">
						<h2>e-Video Clinic</h2>

						<ul class="tablist">

							<li><i class="bx bx-chevron-right-circle"></i> Remote/ Rural
								clinics in every village .</li>
							<li><i class="bx bx-chevron-right-circle"></i> Conduct
								Virtual Doctor Appointments</li>
							<li><i class="bx bx-chevron-right-circle"></i> Facilitate
								Health Tests including Digital X-rays (If suggested by Doctor)</li>
							<li><i class="bx bx-chevron-right-circle"></i> Seamless
								import of EMR to cloud from diagnostic device(s)</li>
							<li><i class="bx bx-chevron-right-circle"></i> Seamless
								export of E-Prescription</li>
							<li><i class="bx bx-chevron-right-circle"></i> Facilitate
								ordering and delivery of Medicines</li>
							<li><i class="bx bx-chevron-right-circle"></i> Creating
								Additional 3000+ Jobs</li>


						</ul>

					</div>
				</div>
			</div>
		</section>

		</main>
		<!-- End #main -->
	</div>

</body>

</html>