<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/ehslayout"
	layout:decorate="~{ehslayout/ehs-master}">

<head>

</head>

<body>
	<div layout:fragment="content">

		<main id="main"> <!-- ======= Why Us Section ======= -->
		<section class="why-us">
			<div class="container">
				<div class="section-title">
					<h2>Leadership</h2>
				</div>


				<!-- <div class='container mx-auto mt-5 col-md-12'>

					<div class="row justify-content-center pb-5">
						<div class="card col-md-3">
							<div class="card-content">
								<div class="card-body p-0">
									<div class="profile">
										<img src="../index-assets/img/team1.jpg">
									</div>
									<div class="leaders_dtl">
										<div class="membername">
											Mr. Nilesh Kanade<br /> <small>Founder &amp;
												Chairman</small>
										</div>
										<div class="card-subtitle">
											<p>
												<small class="text-muted"> Mr. Nilesh Kanade,
													Founder &amp; Chairman, eHealthSystem, is a visionary
													entrepreneur who built his career from modest beginnings.</small>
											</p>

											<div align="center">
												<a class="more" data-toggle="modal"
													data-target="#exampleModalLong">More</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card col-md-3">
							<div class="card-content">
								<div class="card-body p-0">
									<div class="profile">
										<img src="../index-assets/img/team2.jpg">
									</div>
									<div class="leaders_dtl">
										<div class="membername">
											Mr. Bhagwan Kothawale <br /> <small>Executive
												Director</small>
										</div>
										<div class="card-subtitle">
											<p>
												<small class="text-muted">Mr. Bhagwan Kothawale has
													an experience of 32 years in sales & marketing in Bajaj
													Auto limited, as the Chairman. </small>
											</p>
											<div align="center">
												<a class="more" data-toggle="modal"
													data-target="#exampleModalLong1">More</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card col-md-3">
							<div class="card-content">
								<div class="card-body p-0">
									<div class="profile">
										<img src="../index-assets/img/team4.jpg">
									</div>
									<div class="leaders_dtl">
										<div class="membername">
											Prof. M Moni <br /> <small>Principal Advisor</small>
										</div>
										<div class="card-subtitle">
											<p>
												<small class="text-muted">Professor Madaswamy Moni
													is the Director General (Retd), National Informatics
													Centre, a premier Institution of Government of India..</small>
											</p>
											<div align="center">
												<a class="more" data-toggle="modal"
													data-target="#exampleModalLong3">More</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card col-md-3">
							<div class="card-content">
								<div class="card-body p-0">
									<div class="profile">
										<img src="../index-assets/img/team3.jpg">
									</div>
									<div class="leaders_dtl">
										<div class="membername">
											Mr.Tushar Tomar<br /> <small>COO</small>
										</div>
										<div class="card-subtitle">
											<p>
												<small class="text-muted">Focuses on strategic
													direction and manages critical client and partner
													relationships. Tushar is an entrepreneur at heart .</small>
											</p>
											<div align="center">
												<a class="more" data-toggle="modal"
													data-target="#exampleModalLong2">More</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="card col-md-3">
							<div class="card-content">
								<div class="card-body p-0">
									<div class="profile">
										<img src="../index-assets/img/team5.jpg">
									</div>
									<div class="leaders_dtl">
										<div class="membername">
											Dr. Joseph Antoun<br /> <small>Syndicate Partner</small>
										</div>
										<div class="card-subtitle">
											<p>
												<small class="text-muted"> Joseph Antoun is the CEO
													of L-Nutra Inc. and Health Systems Reform, a boutique
													consultancy aimed at improving public health through </small>
											</p>

											<div align="center">
												<a class="more" data-toggle="modal"
													data-target="#exampleModalLong4">More</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card col-md-3">
							<div class="card-content">
								<div class="card-body p-0">
									<div class="profile">
										<img src="../index-assets/img/team6.jpg">
									</div>
									<div class="leaders_dtl">
										<div class="membername">
											Dr. Raja Kamal <br /> <small>Advisory Board Member</small>
										</div>
										<div class="card-subtitle">
											<p>
												<small class="text-muted">Dr. Kamal is the Senior
													Vice President for institute relations at the Buck
													Institute for Aging Research. Dr. Kamal also served as
													Director of new initiatives</small>
											</p>
											<div align="center">
												<a class="more" data-toggle="modal"
													data-target="#exampleModalLong5">More</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card col-md-3">
							<div class="card-content">
								<div class="card-body p-0">
									<div class="profile">
										<img src="../index-assets/img/team7.jpg">
									</div>
									<div class="leaders_dtl">
										<div class="membername">
											Dr. Mukund S. Chorghade<br /> <small>Advisory Board
												Member</small>
										</div>
										<div class="card-subtitle">
											<p>
												<small class="text-muted">Dr.Mukund Chorghade has
													more than 27 years of research leadership and project
													management for several multi-million dollar projects. </small>
											</p>
											<div align="center">
												<a class="more" data-toggle="modal"
													data-target="#exampleModalLong6">More</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card col-md-3">
							<div class="card-content">
								<div class="card-body p-0">
									<div class="profile">
										<img src="../index-assets/img/team9.jpg">
									</div>
									<div class="leaders_dtl">
										<div class="membername">
											Mr. Khalil Parkar<br /> <small>Advisory Board Member</small>
										</div>
										<div class="card-subtitle">
											<p>
												<small class="text-muted">Mr. Khalil Parkar is a
													health care industry executive and consultant who currently
													serves as the President and CEO of MEX Canada, a ﬁrm
													specializing </small>
											</p>
											<div align="center">
												<a class="more" data-toggle="modal"
													data-target="#exampleModalLong7">More</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card col-md-3">
							<div class="card-content">
								<div class="card-body p-0">
									<div class="profile">
										<img src="../index-assets/img/team8.jpg">
									</div>
									<div class="leaders_dtl">
										<div class="membername">
											Mr. Stephen A. Goveia<br /> <small>Strategy &
												Planning</small>
										</div>
										<div class="card-subtitle">
											<p>
												<small class="text-muted">Mr. Stephen Goveia is an
													entrepreneur who has started ﬁve small busi- nesses and
													successfully restructured complex business</small>
											</p>
											<div align="center">
												<a class="more" data-toggle="modal"
													data-target="#exampleModalLong8">More</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->
				
				<div class="et_pb_row et_pb_row_1 et_hover_enabled et_pb_equal_columns">
				<div class="et_pb_column et_pb_column_1_4 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_team_member et_pb_team_member_0 clearfix  et_pb_bg_layout_light">
				
				
				<div class="et_pb_team_member_image et-waypoint et_pb_animation_off"><img width="300" height="300" src="https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Nilesh-Kanade.png" alt="Mr. Nilesh Kanade" srcset="https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Nilesh-Kanade.png 325w, https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Nilesh-Kanade-300x300.png 300w, https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Nilesh-Kanade-150x150.png 150w" sizes="(max-width: 325px) 100vw, 325px" class="wp-image-617" /></div>
				<div class="et_pb_team_member_description">
					<h4 class="et_pb_module_header">Mr. Nilesh Kanade</h4>
					<p class="et_pb_member_position">Founder &amp; Chairman</p>
					<div><p><span><br />Mr. Nilesh Kanade, Founder &amp; Chairman, eHealthSystem, is a visionary entrepreneur who built his career from modest beginnings. Through effective business planning, creative techniques, innovative ideas &amp; in-depth knowledge of a diverse business environment, he succeeded in leading the company globally.<br /></span></p></div>
					
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_team_member et_pb_team_member_1 clearfix  et_pb_bg_layout_light">
				
				
				<div class="et_pb_team_member_image et-waypoint et_pb_animation_off"><img loading="lazy" width="300" height="300" src="https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Bhagwan-Kothawale.png" alt="Mr. Bhagwan Kothawale" srcset="https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Bhagwan-Kothawale.png 325w, https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Bhagwan-Kothawale-300x300.png 300w, https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Bhagwan-Kothawale-150x150.png 150w" sizes="(max-width: 325px) 100vw, 325px" class="wp-image-627" /></div>
				<div class="et_pb_team_member_description">
					<h4 class="et_pb_module_header">Mr. Bhagwan Kothawale</h4>
					<p class="et_pb_member_position">Executive Director</p>
					<div><p><span><br />Mr. Bhagwan Kothawale has an experience of 32 years in sales &amp; marketing in Bajaj Auto limited, as the Chairman and Founder director Aarthasiddhi Credit Society, in working as Marketing Advisor for MafCos and Honorary Secretary educational institution Sant Mai Junior College Of Art, Science and Commerce.</span></p></div>
					
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_team_member et_pb_team_member_2 clearfix  et_pb_bg_layout_light">
				
				
				<div class="et_pb_team_member_image et-waypoint et_pb_animation_off"><img loading="lazy" width="300" height="300" src="https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Tushar-Tomar.png" alt="Mr. Tushar Tomar" srcset="https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Tushar-Tomar.png 325w, https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Tushar-Tomar-300x300.png 300w, https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Tushar-Tomar-150x150.png 150w" sizes="(max-width: 325px) 100vw, 325px" class="wp-image-630" /></div>
				<div class="et_pb_team_member_description">
					<h4 class="et_pb_module_header">Mr. Tushar Tomar</h4>
					<p class="et_pb_member_position">Board Member</p>
					<div><p><span><br />Tushar Tomar Focuses on strategic direction and manages critical client and partner relationships. Tushar is an entrepreneur at heart and has 28 years of diversified experience having established numerous successful business enterprises in the US and at home.<br /></span></p></div>
					
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_team_member et_pb_team_member_3 clearfix  et_pb_bg_layout_light">
				
				
				<div class="et_pb_team_member_image et-waypoint et_pb_animation_off"><img loading="lazy" width="300" height="300" src="https://ehealthsystems.in/wp-content/uploads/2022/09/Prof.-Madaswamy-Moni.png" alt="Prof. Madaswamy Moni" srcset="https://ehealthsystems.in/wp-content/uploads/2022/09/Prof.-Madaswamy-Moni.png 325w, https://ehealthsystems.in/wp-content/uploads/2022/09/Prof.-Madaswamy-Moni-300x300.png 300w, https://ehealthsystems.in/wp-content/uploads/2022/09/Prof.-Madaswamy-Moni-150x150.png 150w" sizes="(max-width: 325px) 100vw, 325px" class="wp-image-633" /></div>
				<div class="et_pb_team_member_description">
					<h4 class="et_pb_module_header">Prof. Madaswamy Moni</h4>
					<p class="et_pb_member_position">Principal Advisor</p>
					<div><p><span style="font-size: 14px;"><br />Professor Madaswamy Moni is the Director General (Retd), National Informatics Centre. </span><span style="font-size: 14px;">Professor Moni is a Distinguished Technocrat and Eminent Informatics Scientist in the area of “e-Governance, Informatics and Agricultural Informatics” in India and has been a pioneer.</span><span></span></p></div>
					
				</div>
			</div>
			</div>
				
				
			</div><div class="et_pb_row et_pb_row_2 et_hover_enabled et_pb_equal_columns">
				<div class="et_pb_column et_pb_column_1_4 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_team_member et_pb_team_member_4 clearfix  et_pb_bg_layout_light">
				
				
				<div class="et_pb_team_member_image et-waypoint et_pb_animation_off"><img loading="lazy" width="300" height="300" src="https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Amol-Kulkarni.png" alt="Mr. Amol Kulkarni" srcset="https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Amol-Kulkarni.png 325w, https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Amol-Kulkarni-300x300.png 300w, https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Amol-Kulkarni-150x150.png 150w" sizes="(max-width: 325px) 100vw, 325px" class="wp-image-636" /></div>
				<div class="et_pb_team_member_description">
					<h4 class="et_pb_module_header">Mr. Amol Kulkarni</h4>
					<p class="et_pb_member_position">Director</p>
					<div><p><span style="font-size: 14px;"><br />Amol focuses on Business Strategy &amp; Human Capital Management. With 25+ years of experience in HR &amp; IT Consulting, he has worked with TATA, IBM, Accenture, Goodyear Tire, Delphi Automotive, Celanese Corporation, BHP &amp; SAP. A techno-savvy entrepreneur, he has headed multimillion dollar projects in North America &amp; ASEAN region.<br /></span></p>
<p><span></span></p></div>
					
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_team_member et_pb_team_member_5 clearfix  et_pb_bg_layout_light">
				
				
				<div class="et_pb_team_member_image et-waypoint et_pb_animation_off"><img loading="lazy" width="300" height="300" src="https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Arish-Syed.png" alt="Mr. Arish Syed" srcset="https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Arish-Syed.png 325w, https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Arish-Syed-300x300.png 300w, https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Arish-Syed-150x150.png 150w" sizes="(max-width: 325px) 100vw, 325px" class="wp-image-638" /></div>
				<div class="et_pb_team_member_description">
					<h4 class="et_pb_module_header">Mr. Arish Syed</h4>
					<p class="et_pb_member_position">Chief Executive Officer</p>
					<div><p><span style="font-size: 14px;"><br /></span>Arish has over 2.5 decades of experience across sectors like corporate, consulting, UN &amp; not-for-profit sector. An engineer &amp; MBA with Masters in Marketing &amp; Finance, Arish has handled diverse portfolios with LEHS-WISH, Action Against Hunger, Jaldhaara Foundation, Save the Children, Magic Bus India, UNICEF, Deloitte Touche Tohamatsu etc.</p>
<p><span style="font-size: 14px;"> </span></p>
<p><span></span></p></div>
					
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_team_member et_pb_team_member_6 clearfix  et_pb_bg_layout_light">
				
				
				<div class="et_pb_team_member_image et-waypoint et_pb_animation_off"><img loading="lazy" width="300" height="300" src="https://ehealthsystems.in/wp-content/uploads/2022/09/Aniriddha-Nene.png" alt="Mr. Aniruddha Nene" srcset="https://ehealthsystems.in/wp-content/uploads/2022/09/Aniriddha-Nene.png 325w, https://ehealthsystems.in/wp-content/uploads/2022/09/Aniriddha-Nene-300x300.png 300w, https://ehealthsystems.in/wp-content/uploads/2022/09/Aniriddha-Nene-150x150.png 150w" sizes="(max-width: 325px) 100vw, 325px" class="wp-image-639" /></div>
				<div class="et_pb_team_member_description">
					<h4 class="et_pb_module_header">Mr. Aniruddha Nene</h4>
					<p class="et_pb_member_position">Chief Mentor &amp; Strategist</p>
					<div><p><span style="font-size: 14px;"><br /></span>Aniruddha Nene is an IIT B alumnus with an entrepreneurial journey spanning over two decades in Healthcare Informatics. Aniruddha has a unique combination of skills in both start-up innovation space and corporate business ecosystem. Aniruddha is a regular speaker and panellist on many healthcare specific forums / events.</p>
<p><span style="font-size: 14px;"> </span></p>
<p><span></span></p></div>
					
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_team_member et_pb_team_member_7 clearfix  et_pb_bg_layout_light">
				
				
				<div class="et_pb_team_member_image et-waypoint et_pb_animation_off"><img loading="lazy" width="300" height="300" src="https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Vivek-Mittal.png" alt="Mr. Vivek Mittal" srcset="https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Vivek-Mittal.png 325w, https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Vivek-Mittal-300x300.png 300w, https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Vivek-Mittal-150x150.png 150w" sizes="(max-width: 325px) 100vw, 325px" class="wp-image-642" /></div>
				<div class="et_pb_team_member_description">
					<h4 class="et_pb_module_header">Mr. Vivek Mittal</h4>
					<p class="et_pb_member_position">CBDO</p>
					<div><p><span style="font-size: 14px;"><br />Vivek Mittal is currently Chief Business Development Officer (CBDO) of ehealthsystems based in New Delhi. He is a dreamer and a visionary professional with more then 28 years of work experience. Formerly Director – HR, Strategic Partnerships and Resources Mobilisation at Shobhit University Corporate Office in New Delhi.<br /></span></p>
<p><span></span></p></div>
					
				</div>
			</div>
			</div>
				
				
			</div><div class="et_pb_row et_pb_row_3 et_hover_enabled et_pb_equal_columns">
				<div class="et_pb_column et_pb_column_1_4 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_team_member et_pb_team_member_8 clearfix  et_pb_bg_layout_light">
				
				
				<div class="et_pb_team_member_image et-waypoint et_pb_animation_off"><img loading="lazy" width="300" height="300" src="https://ehealthsystems.in/wp-content/uploads/2022/09/Dr.-Biraja-Prasad-Nath.png" alt="Dr. Biraja Prasad Nath" srcset="https://ehealthsystems.in/wp-content/uploads/2022/09/Dr.-Biraja-Prasad-Nath.png 325w, https://ehealthsystems.in/wp-content/uploads/2022/09/Dr.-Biraja-Prasad-Nath-300x300.png 300w, https://ehealthsystems.in/wp-content/uploads/2022/09/Dr.-Biraja-Prasad-Nath-150x150.png 150w" sizes="(max-width: 325px) 100vw, 325px" class="wp-image-647" /></div>
				<div class="et_pb_team_member_description">
					<h4 class="et_pb_module_header">Dr. Biraja Prasad Nath</h4>
					<p class="et_pb_member_position">Technology Partner</p>
					<div><p><span style="font-size: 14px;"><br />With 25+ years of experience in product engineering &amp; consulting, Dr. Biraja has worked with giants like PSC, IBM Labs, Credit Suisse, Alltel, Satyam &amp; Tata Steel. He was the Director in Progress Software Corporation, USA. An alumnus of NIT, Jamshedpur &amp; UOH,UK, Biraja has extensive experience in utility, finance, manufacturing &amp; healthcare.<br /></span></p>
<p><span></span></p></div>
					
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_11  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_team_member et_pb_team_member_9 clearfix  et_pb_bg_layout_light">
				
				
				<div class="et_pb_team_member_image et-waypoint et_pb_animation_off"><img loading="lazy" width="300" height="300" src="https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Keshav-Tripathy.png" alt="Mr. Keshav Tripathy" srcset="https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Keshav-Tripathy.png 325w, https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Keshav-Tripathy-300x300.png 300w, https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Keshav-Tripathy-150x150.png 150w" sizes="(max-width: 325px) 100vw, 325px" class="wp-image-650" /></div>
				<div class="et_pb_team_member_description">
					<h4 class="et_pb_module_header">Mr. Keshav Tripathy</h4>
					<p class="et_pb_member_position">Technology Partner</p>
					<div><p><span style="font-size: 14px;"><br />With over 30 years of industry and consulting experience in the domains of Manufacturing, Logistics, Credit Card, Port Operations, Insurance etc., Mr. Keshav has worked with giants like NIC, Tata Steel, Satyam, GE, etc. He has solid background in Insurance, Manufacturing, and healthcare domain. He is an alumnus of NIT, Rourkela.</span><span></span></p></div>
					
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_12  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_team_member et_pb_team_member_10 clearfix  et_pb_bg_layout_light">
				
				
				<div class="et_pb_team_member_image et-waypoint et_pb_animation_off"><img loading="lazy" width="300" height="300" src="https://ehealthsystems.in/wp-content/uploads/2022/09/Dr.-Joseph-Antoun.png" alt="Dr. Joseph Antoun" srcset="https://ehealthsystems.in/wp-content/uploads/2022/09/Dr.-Joseph-Antoun.png 325w, https://ehealthsystems.in/wp-content/uploads/2022/09/Dr.-Joseph-Antoun-300x300.png 300w, https://ehealthsystems.in/wp-content/uploads/2022/09/Dr.-Joseph-Antoun-150x150.png 150w" sizes="(max-width: 325px) 100vw, 325px" class="wp-image-653" /></div>
				<div class="et_pb_team_member_description">
					<h4 class="et_pb_module_header">Dr. Joseph Antoun</h4>
					<p class="et_pb_member_position">Syndicate Partner</p>
					<div><p><span style="font-size: 14px;"><br /></span>Dr. Antoun is the CEO of L-Nutra Inc.; Co-Director of the Center for Health Policy at the University of Chicago; adjunct Professor of Health Policy at the Buck Institute for Research on Aging; Fellow at the Department of Social Policy at the London School of Economics; Co-Editor in Chief of the Journal of Health Systems &amp; Reform.<span></span></p></div>
					
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_13  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_team_member et_pb_team_member_11 clearfix  et_pb_bg_layout_light">
				
				
				<div class="et_pb_team_member_image et-waypoint et_pb_animation_off"><img loading="lazy" width="300" height="300" src="https://ehealthsystems.in/wp-content/uploads/2022/09/Dr.-Raja-Kamal.png" alt="Dr. Raja Kamal" srcset="https://ehealthsystems.in/wp-content/uploads/2022/09/Dr.-Raja-Kamal.png 325w, https://ehealthsystems.in/wp-content/uploads/2022/09/Dr.-Raja-Kamal-300x300.png 300w, https://ehealthsystems.in/wp-content/uploads/2022/09/Dr.-Raja-Kamal-150x150.png 150w" sizes="(max-width: 325px) 100vw, 325px" class="wp-image-654" /></div>
				<div class="et_pb_team_member_description">
					<h4 class="et_pb_module_header">Dr. Raja Kamal</h4>
					<p class="et_pb_member_position">Advisory Board Member</p>
					<div><p><span style="font-size: 14px;"><br /></span>Dr. Kamal is the Sr VP for institute relations at the Buck Institute for Aging Research. Dr. Kamal also served as Director of new initiatives and international development at Harvard’s John F. Kennedy School of Government. During his 16 years at Harvard, Dr. Kamal successfully internationalized the activities of the Kennedy School.</p>
<p><span style="font-size: 14px;"> </span></p>
<p><span></span></p></div>
					
				</div>
			</div>
			</div>
				
				
			</div><div class="et_pb_row et_pb_row_4 et_hover_enabled et_pb_equal_columns">
				<div class="et_pb_column et_pb_column_1_4 et_pb_column_14  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_team_member et_pb_team_member_12 clearfix  et_pb_bg_layout_light">
				
				
				<div class="et_pb_team_member_image et-waypoint et_pb_animation_off"><img loading="lazy" width="300" height="300" src="https://ehealthsystems.in/wp-content/uploads/2022/09/Dr.-Mukund-S.-Chorghade.png" alt="Dr. Mukund S. Chorghade" srcset="https://ehealthsystems.in/wp-content/uploads/2022/09/Dr.-Mukund-S.-Chorghade.png 325w, https://ehealthsystems.in/wp-content/uploads/2022/09/Dr.-Mukund-S.-Chorghade-300x300.png 300w, https://ehealthsystems.in/wp-content/uploads/2022/09/Dr.-Mukund-S.-Chorghade-150x150.png 150w" sizes="(max-width: 325px) 100vw, 325px" class="wp-image-656" /></div>
				<div class="et_pb_team_member_description">
					<h4 class="et_pb_module_header">Dr. Mukund S. Chorghade</h4>
					<p class="et_pb_member_position">Advisory Board Member</p>
					<div><p><span style="font-size: 14px;"><br /></span>Dr. Chorghade has extensive experience of research leadership &amp; project management for several multi-million dollar projects. He has served as President &amp; CSO at THINQ Pharma/THINQ Drug Discovery. He was the VP of Pharmaceutical Development Sciences &amp; a Member of the Corporate Steering Committee at Genzyme Corp.</p>
<p><span style="font-size: 14px;"> </span></p>
<p><span></span></p></div>
					
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_15  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_team_member et_pb_team_member_13 clearfix  et_pb_bg_layout_light">
				
				
				<div class="et_pb_team_member_image et-waypoint et_pb_animation_off"><img loading="lazy" width="300" height="300" src="https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Stephen-A.-Goveia.png" alt="Mr. Stephen A. Goveia" srcset="https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Stephen-A.-Goveia.png 325w, https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Stephen-A.-Goveia-300x300.png 300w, https://ehealthsystems.in/wp-content/uploads/2022/09/Mr.-Stephen-A.-Goveia-150x150.png 150w" sizes="(max-width: 325px) 100vw, 325px" class="wp-image-657" /></div>
				<div class="et_pb_team_member_description">
					<h4 class="et_pb_module_header">Mr. Stephen A. Goveia</h4>
					<p class="et_pb_member_position">Strategy &amp; Planning</p>
					<div><p><span style="font-size: 14px;"><br /></span>Mr. Goveia is an entrepreneur who has started ﬁve small businesses &amp; successfully restructured complex business in the US, Europe and Asia. He has served as a corporate ofﬁcer and management consultant to numerous healthcare, technology and educational management companies. Currently he is a Venture Board Advisor to iGate.</p>
<p><span style="font-size: 14px;"> </span></p>
<p><span></span></p></div>
					
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_16  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_team_member et_pb_team_member_14 clearfix  et_pb_bg_layout_light">
				
				
				<div class="et_pb_team_member_image et-waypoint et_pb_animation_off"><img loading="lazy" width="300" height="300" src="https://ehealthsystems.in/wp-content/uploads/2022/09/Dr-Gitanjali-Hosurkar-1.png" alt="Dr. Gitanjalli Hosurkar" srcset="https://ehealthsystems.in/wp-content/uploads/2022/09/Dr-Gitanjali-Hosurkar-1.png 325w, https://ehealthsystems.in/wp-content/uploads/2022/09/Dr-Gitanjali-Hosurkar-1-300x300.png 300w, https://ehealthsystems.in/wp-content/uploads/2022/09/Dr-Gitanjali-Hosurkar-1-150x150.png 150w" sizes="(max-width: 325px) 100vw, 325px" class="wp-image-678" /></div>
				<div class="et_pb_team_member_description">
					<h4 class="et_pb_module_header">Dr. Gitanjalli Hosurkar</h4>
					<p class="et_pb_member_position">Medical Practitioner &amp; Philanthropist</p>
					<div><p><span style="font-size: 14px;"><br /></span>A holistic psychotherapist, empowering individuals to achieve mental &amp; emotional well-being by fusing eastern &amp; western spiritual practices. Founder of Ray of Light Medical Trust, dedicated to uplift livelihood in tribal, underprivileged sectors, women &amp; child welfare, education, sports, animal husbandry &amp; skill development in rural sectors.</p></div>
					
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_17  et_pb_css_mix_blend_mode_passthrough et-last-child et_pb_column_empty">
				
				
				
			</div>
				
				
			</div>
				
				
			</div>
				
				
				
				
				
				
				
			</div><div id="bookappointment" class="et_pb_section et_pb_section_2 et_pb_with_background et_section_specialty" >
				
				
				
				<div class="et_pb_row">
					<div class="et_pb_column et_pb_column_1_4 et_pb_column_19    et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><h3>Contact us</h3></div>
			</div><div class="et_pb_module et_pb_blurb et_pb_blurb_0  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_off et_pb_animation_off_tablet et_pb_animation_off_phone et-pb-icon">&#xe076;</span></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Email Us</span></h4>
						<div class="et_pb_blurb_description"><p><span>contact@ehealthsystems.in</span></p></div>
					</div>
				</div>
			</div>




			</div>
		</section>

		</main>
		<!-- End #main -->
	</div>

</body>

</html>