<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/ehslayout"
	layout:decorate="~{ehslayout/ehs-master}">

<head>

</head>

<body>
	<div layout:fragment="content">

		<main id="main"> <!-- ======= Why Us Section ======= -->
		<section id="appointment" class="appointment section-bg">
			<div class="container">
				<div class="section-title">
					<h2>Advance mother and child technology system</h2>

				</div>

				<div class="row">
					<div class="col-md-6">
						<h2>Mother & Child Tracking System</h2>
						<h6>Connected to Cord Blood-Bank</h6>

						<ul class="tablist">

							<li><i class="bx bx-chevron-right-circle"></i>Make All
								country/State to perform digitization of new-born children
								Health data</li>
							<li><i class="bx bx-chevron-right-circle"></i> Smart Card
								for every Mother</li>
							<li><i class="bx bx-chevron-right-circle"></i> Smart Wrist
								Band for every Child</li>
							<li><i class="bx bx-chevron-right-circle"></i> Create Health
								Profiling of new-born Children every year</li>
							<li><i class="bx bx-chevron-right-circle"></i> Collect
								Expectant Mothers Cord Blood and placenta in the Stem Cell R&D
								Center to provide innovative healthcare support for future
								diseases for a period of 20 years</li>
							<li><i class="bx bx-chevron-right-circle"></i> Genetic
								Mapping to reduce Genetic Disorders and Issues</li>
						</ul>

					</div>
					<div class="col-md-6">
						<img src="../index-assets/img/child-tracking.png" alt=""
							class="img-fluid">
					</div>
				</div>
			</div>
		</section>

		</main>
		<!-- End #main -->
	</div>

</body>

</html>