<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/ehslayout"
	layout:decorate="~{ehslayout/ehs-master}">

<head>

</head>

<body>
	<div layout:fragment="content">

		<main id="main"> <!-- ======= Why Us Section ======= -->
		<section id="appointment" class="appointment section-bg">
			<div class="container">
				<div class="section-title">
					<h2>Preventive Health Check-up with MOBILE LAB UNITS</h2>

				</div>

				<div class="row">
					<div class="col-md-6">
						<h2>A Healthier Nation is A Happier Nation</h2>
						<ul class="tablist">
							<li><i class="bx bx-chevron-right-circle"></i> Prevention is
								better than Cure: Preventive</li>
							<li><i class="bx bx-chevron-right-circle"></i> Health
								Check-up with up to 50+ Parameters</li>
							<li><i class="bx bx-chevron-right-circle"></i> Health
								Checkup Data Digitization and AI based Analytics and solutions</li>
							<li><i class="bx bx-chevron-right-circle"></i> Dashboard
								Analytics to draw a health index to manage State Health Policy
								and considerably reduce State Healthcare Expenditure</li>
							<li><i class="bx bx-chevron-right-circle"></i> Skill Set
								Mapping for Skill Development, etc. can be obtained every year.</li>
						</ul>

					</div>
					<div class="col-md-6">
						<img src="../index-assets/img/check-up.png" alt=""
							class="img-fluid">
					</div>
				</div>
			</div>
		</section>

		</main>
		<!-- End #main -->
	</div>

</body>

</html>