<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/ehslayout"
	layout:decorate="~{ehslayout/ehs-master}">

<head>

</head>

<body>
	<div layout:fragment="content">
		<main id="main">

		<section id="appointment" class="appointment section-bg">
			<div class="container">
				<div class="section-title">
					<h2>Single Identity Digital Smart Card for Residents</h2>

				</div>

				<div class="row">
					<div class="col-md-6">
						<h2>Benefits to Citizens</h2>

						<ul class="tablist">
							<li><i class="bx bx-chevron-right-circle"></i> Ability to
								access their medical records anytime, anywhere at global level</li>
							<li><i class="bx bx-chevron-right-circle"></i> Instant
								availability of medical records during emergency situations</li>
							<li><i class="bx bx-chevron-right-circle"></i> Ensures
								quicker diagnosis leading to accurate treatment and reduced risk
								of cross-medication</li>
							<li><i class="bx bx-chevron-right-circle"></i> Immediate
								access and tracking of vaccinations for infectious disease</li>
							<li><i class="bx bx-chevron-right-circle"></i> In case of
								Emergency, the Citizen can click the ‘HELP’ button and
								immediately send GPRS location to 5 pre-added Emergency Contacts
								in the Mobile App.</li>
							<li><i class="bx bx-chevron-right-circle"></i> Get
								up-to-date knowledge of new government health schemes and
								benefits</li>
							<li><i class="bx bx-chevron-right-circle"></i> Receive
								Health tips and information for preventive health care.</li>
							<li><i class="bx bx-chevron-right-circle"></i> Citizen can
								join Blood/ Organ Donation Programs.</li>

						</ul>

					</div>
					<div class="col-md-6">
						<img src="../index-assets/img/smart-card.png" alt=""
							class="img-fluid">
					</div>
				</div>
			</div>
		</section>

		<!-- ======= Why Us Section ======= --> </main>
		<!-- End #main -->
	</div>

</body>

</html>