<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/ehslayout"
	layout:decorate="~{ehslayout/ehs-master}">

<head>

</head>

<body>
	<div layout:fragment="content">

		<main id="main"> <!-- ======= Why Us Section ======= -->

		<section id="appointment" class="appointment section-bg">
			<div class="container">
				<div class="section-title">
					<h2>VACCINATION TRACKER</h2>

				</div>

				<div class="row">
					<div class="col-md-6">
						<h2>Cloud Based Vaccination Tracker/Health Passport</h2>

						<ul class="tablist">
							<li><i class="bx bx-chevron-right-circle"></i> Health
								Passport (eHealth Passport)</li>
							<li><i class="bx bx-chevron-right-circle"></i> Dashboard for
								vaccination status – At-glance view of Key Performance
								Indicators for the Government Officials</li>
							<li><i class="bx bx-chevron-right-circle"></i> Interoperable
								Web Portal and Mobile App for Vaccination Center of the
								Government</li>
							<li><i class="bx bx-chevron-right-circle"></i> Call Center
								Support Web Portal</li>
							<li><i class="bx bx-chevron-right-circle"></i> Residents
								will get Web Portal, Mobile App, eHealth Card, eHealth Wrist
								Band and Digital Vaccination Certificate (As per the WHO
								guidelines)</li>

						</ul>

					</div>
					<div class="col-md-6">
						<img src="../index-assets/img/tracker.png" alt=""
							class="img-fluid">
					</div>
				</div>
			</div>
		</section>

		</main>
		<!-- End #main -->
	</div>

</body>

</html>