<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/ehslayout"
	layout:decorate="~{ehslayout/ehs-master}">

<head>

</head>

<body>
<div layout:fragment="content">

	<main id="main">

		<!-- ======= What We Offer Section ======= -->
		<section id="services" class="services">
			<div class="container">

				<div class="section-title">
					<h2>What We Offer</h2>
					<p>The eHealthSystem supports WHO eHealth Strategy (WHA 58:28)
						eHealth stressing that eHealth is the cost-effective and secure
						use of information and communications technologies in support of
						health and health-related services.</p>
				</div>
<div class="row">

					<div
						class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
						<a href="/offering-healthInformation">
							<div class="icon-box">
								<div class="icon">
									<img src="../index-assets/img/offer-icon3.png" />
								</div>
								<h4>
									<a href="">One Health Portal Health Information Exchange
										Platform</a>
								</h4>

							</div>
						</a>
					</div>

					<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
						<a href="/offering-preventive-healthCheckup">
							<div class="icon-box">
								<div class="icon">
									<img src="../index-assets/img/offer-icon1.png" />
								</div>
								<h4>
									<a href="">Preventive Health Check-up of Resident with
										Analytics</a>
								</h4>

							</div>
						</a>
					</div>

					<div
						class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
						<a href="/offering-mother-childTracking">
							<div class="icon-box">
								<div class="icon">
									<img src="../index-assets/img/offer-icon2.png" />
								</div>
								<h4>
									<a href="">Mother & Child Tracking System connected to Cord
										Blood-Bank</a>
								</h4>

							</div>
						</a>
					</div>

					<div class="col-lg-4 col-md-6  align-items-stretch mt-4">
						<a href="/offering-covid19">
							<div class="icon-box">
								<div class="icon">
									<img src="../index-assets/img/offer-icon7.png" />
								</div>
								<h4>
									<a href="">COVID-19 Vaccination/Quarantine Tracker with
										Realtime Analytics </a>
								</h4>

							</div>
						</a>
					</div>

					<div class="col-lg-4 col-md-6  align-items-stretch mt-4">
						<a href="/offering-vaccineTracker">
							<div class="icon-box">
								<div class="icon">
									<img src="../index-assets/img/offer-icon8.png" />
								</div>
								<h4>
									<a href="">Vaccine/Immunization Tracker </a>
								</h4>

							</div>
						</a>
					</div>

					<div class="col-lg-4 col-md-6  align-items-stretch mt-4">
						<a href="/offering-advanceStemCell">
							<div class="icon-box">
								<div class="icon">
									<img src="../index-assets/img/offer-icon4.png" />
								</div>
								<h4>
									<a href="">Advanced Stem Cell R&D Center</a>
								</h4>

							</div>
						</a>
					</div>

					<div class="col-lg-4 col-md-6  align-items-stretch mt-4">
						<a href="/offering-singleIdentity-digitalSmartCard">
							<div class="icon-box">
								<div class="icon">
									<img src="../index-assets/img/offer-icon9.png" />
								</div>
								<h4>
									<a href="">Single Identity Digital Smart Card for Residents</a>
								</h4>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-6  align-items-stretch mt-4">
						<a href="/offering-hivc">
							<div class="icon-box">
								<div class="icon">
									<img src="../index-assets/img/offer-icon5.png" />
								</div>
								<h4>
									<a href="">Health Informatics Network Value Chain</a>
								</h4>

							</div>
						</a>
					</div>

					<div class="col-lg-4 col-md-6  align-items-stretch mt-4">
						<a href="/offering-hdms">
							<div class="icon-box">
								<div class="icon">
									<img src="../index-assets/img/offer-icon6.png" />
								</div>
								<h4>
									<a href="">Health Data Management Solutions</a>
								</h4>

							</div>
						</a>
					</div>
				</div>


			</div>
		</section>
		<!-- End Services Section -->

	</main>
	<!-- End #main -->
</div>
	

</body>

</html>